src/candyegg_flow.json
[
    {
        "id": "2f4ebacf.90b096",
        "type": "tab",
        "label": "CBMサンプル",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3c6c2e23.5a28b2",
        "type": "function",
        "z": "2f4ebacf.90b096",
        "name": "Update Frequency Range Lower",
        "func": "msg.payload = {'lower_limit_index': msg.payload};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 870,
        "y": 60,
        "wires": [
            [
                "1a98d588.6afa1a"
            ]
        ]
    },
    {
        "id": "e5365e4b.1bb9",
        "type": "ui_dropdown",
        "z": "2f4ebacf.90b096",
        "name": "周波数下限",
        "label": "周波数下限",
        "tooltip": "",
        "place": "Select option",
        "group": "ae355e10.2a0de",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "0 Hz",
                "value": 0,
                "type": "num"
            },
            {
                "label": "26 Hz",
                "value": 1,
                "type": "num"
            },
            {
                "label": "52 Hz",
                "value": 2,
                "type": "num"
            },
            {
                "label": "79 Hz",
                "value": 3,
                "type": "num"
            },
            {
                "label": "105 Hz",
                "value": 4,
                "type": "num"
            },
            {
                "label": "131 Hz",
                "value": 5,
                "type": "num"
            },
            {
                "label": "157 Hz",
                "value": 6,
                "type": "num"
            },
            {
                "label": "184 Hz",
                "value": 7,
                "type": "num"
            },
            {
                "label": "210 Hz",
                "value": 8,
                "type": "num"
            },
            {
                "label": "236 Hz",
                "value": 9,
                "type": "num"
            },
            {
                "label": "262 Hz",
                "value": 10,
                "type": "num"
            },
            {
                "label": "289 Hz",
                "value": 11,
                "type": "num"
            },
            {
                "label": "315 Hz",
                "value": 12,
                "type": "num"
            },
            {
                "label": "341 Hz",
                "value": 13,
                "type": "num"
            },
            {
                "label": "367 Hz",
                "value": 14,
                "type": "num"
            },
            {
                "label": "394 Hz",
                "value": 15,
                "type": "num"
            },
            {
                "label": "420 Hz",
                "value": 16,
                "type": "num"
            },
            {
                "label": "446 Hz",
                "value": 17,
                "type": "num"
            },
            {
                "label": "472 Hz",
                "value": 18,
                "type": "num"
            },
            {
                "label": "499 Hz",
                "value": 19,
                "type": "num"
            },
            {
                "label": "525 Hz",
                "value": 20,
                "type": "num"
            },
            {
                "label": "551 Hz",
                "value": 21,
                "type": "num"
            },
            {
                "label": "577 Hz",
                "value": 22,
                "type": "num"
            },
            {
                "label": "604 Hz",
                "value": 23,
                "type": "num"
            },
            {
                "label": "630 Hz",
                "value": 24,
                "type": "num"
            },
            {
                "label": "656 Hz",
                "value": 25,
                "type": "num"
            },
            {
                "label": "682 Hz",
                "value": 26,
                "type": "num"
            },
            {
                "label": "709 Hz",
                "value": 27,
                "type": "num"
            },
            {
                "label": "735 Hz",
                "value": 28,
                "type": "num"
            },
            {
                "label": "761 Hz",
                "value": 29,
                "type": "num"
            },
            {
                "label": "787 Hz",
                "value": 30,
                "type": "num"
            },
            {
                "label": "814 Hz",
                "value": 31,
                "type": "num"
            },
            {
                "label": "840 Hz",
                "value": 32,
                "type": "num"
            },
            {
                "label": "866 Hz",
                "value": 33,
                "type": "num"
            },
            {
                "label": "892 Hz",
                "value": 34,
                "type": "num"
            },
            {
                "label": "919 Hz",
                "value": 35,
                "type": "num"
            },
            {
                "label": "945 Hz",
                "value": 36,
                "type": "num"
            },
            {
                "label": "971 Hz",
                "value": 37,
                "type": "num"
            },
            {
                "label": "997 Hz",
                "value": 38,
                "type": "num"
            },
            {
                "label": "1024 Hz",
                "value": 39,
                "type": "num"
            },
            {
                "label": "1050 Hz",
                "value": 40,
                "type": "num"
            },
            {
                "label": "1076 Hz",
                "value": 41,
                "type": "num"
            },
            {
                "label": "1102 Hz",
                "value": 42,
                "type": "num"
            },
            {
                "label": "1129 Hz",
                "value": 43,
                "type": "num"
            },
            {
                "label": "1155 Hz",
                "value": 44,
                "type": "num"
            },
            {
                "label": "1181 Hz",
                "value": 45,
                "type": "num"
            },
            {
                "label": "1207 Hz",
                "value": 46,
                "type": "num"
            },
            {
                "label": "1234 Hz",
                "value": 47,
                "type": "num"
            },
            {
                "label": "1260 Hz",
                "value": 48,
                "type": "num"
            },
            {
                "label": "1286 Hz",
                "value": 49,
                "type": "num"
            },
            {
                "label": "1312 Hz",
                "value": 50,
                "type": "num"
            },
            {
                "label": "1339 Hz",
                "value": 51,
                "type": "num"
            },
            {
                "label": "1365 Hz",
                "value": 52,
                "type": "num"
            },
            {
                "label": "1391 Hz",
                "value": 53,
                "type": "num"
            },
            {
                "label": "1417 Hz",
                "value": 54,
                "type": "num"
            },
            {
                "label": "1443 Hz",
                "value": 55,
                "type": "num"
            },
            {
                "label": "1470 Hz",
                "value": 56,
                "type": "num"
            },
            {
                "label": "1496 Hz",
                "value": 57,
                "type": "num"
            },
            {
                "label": "1522 Hz",
                "value": 58,
                "type": "num"
            },
            {
                "label": "1548 Hz",
                "value": 59,
                "type": "num"
            },
            {
                "label": "1575 Hz",
                "value": 60,
                "type": "num"
            },
            {
                "label": "1601 Hz",
                "value": 61,
                "type": "num"
            },
            {
                "label": "1627 Hz",
                "value": 62,
                "type": "num"
            },
            {
                "label": "1653 Hz",
                "value": 63,
                "type": "num"
            },
            {
                "label": "1680 Hz",
                "value": 64,
                "type": "num"
            },
            {
                "label": "1706 Hz",
                "value": 65,
                "type": "num"
            },
            {
                "label": "1732 Hz",
                "value": 66,
                "type": "num"
            },
            {
                "label": "1758 Hz",
                "value": 67,
                "type": "num"
            },
            {
                "label": "1785 Hz",
                "value": 68,
                "type": "num"
            },
            {
                "label": "1811 Hz",
                "value": 69,
                "type": "num"
            },
            {
                "label": "1837 Hz",
                "value": 70,
                "type": "num"
            },
            {
                "label": "1863 Hz",
                "value": 71,
                "type": "num"
            },
            {
                "label": "1890 Hz",
                "value": 72,
                "type": "num"
            },
            {
                "label": "1916 Hz",
                "value": 73,
                "type": "num"
            },
            {
                "label": "1942 Hz",
                "value": 74,
                "type": "num"
            },
            {
                "label": "1968 Hz",
                "value": 75,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 590,
        "y": 60,
        "wires": [
            [
                "3c6c2e23.5a28b2"
            ]
        ]
    },
    {
        "id": "1a98d588.6afa1a",
        "type": "CANDY RED websocket out",
        "z": "2f4ebacf.90b096",
        "name": "",
        "server": "3b572028.b0a0d",
        "wholemsg": "false",
        "x": 1210,
        "y": 120,
        "wires": []
    },
    {
        "id": "65099735.e9bcb8",
        "type": "function",
        "z": "2f4ebacf.90b096",
        "name": "Update Frequency Range Upper",
        "func": "msg.payload = {'upper_limit_index': msg.payload};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 870,
        "y": 120,
        "wires": [
            [
                "1a98d588.6afa1a"
            ]
        ]
    },
    {
        "id": "f28dbd1a.46f33",
        "type": "function",
        "z": "2f4ebacf.90b096",
        "name": "Update Amplitude",
        "func": "msg.payload = {'threshold': msg.payload};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 830,
        "y": 180,
        "wires": [
            [
                "1a98d588.6afa1a"
            ]
        ]
    },
    {
        "id": "3ac1415b.4f7fce",
        "type": "ui_dropdown",
        "z": "2f4ebacf.90b096",
        "name": "周波数上限",
        "label": "周波数上限",
        "tooltip": "",
        "place": "Select option",
        "group": "ae355e10.2a0de",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "options": [
            {
                "label": "0 Hz",
                "value": 0,
                "type": "num"
            },
            {
                "label": "26 Hz",
                "value": 1,
                "type": "num"
            },
            {
                "label": "52 Hz",
                "value": 2,
                "type": "num"
            },
            {
                "label": "79 Hz",
                "value": 3,
                "type": "num"
            },
            {
                "label": "105 Hz",
                "value": 4,
                "type": "num"
            },
            {
                "label": "131 Hz",
                "value": 5,
                "type": "num"
            },
            {
                "label": "157 Hz",
                "value": 6,
                "type": "num"
            },
            {
                "label": "184 Hz",
                "value": 7,
                "type": "num"
            },
            {
                "label": "210 Hz",
                "value": 8,
                "type": "num"
            },
            {
                "label": "236 Hz",
                "value": 9,
                "type": "num"
            },
            {
                "label": "262 Hz",
                "value": 10,
                "type": "num"
            },
            {
                "label": "289 Hz",
                "value": 11,
                "type": "num"
            },
            {
                "label": "315 Hz",
                "value": 12,
                "type": "num"
            },
            {
                "label": "341 Hz",
                "value": 13,
                "type": "num"
            },
            {
                "label": "367 Hz",
                "value": 14,
                "type": "num"
            },
            {
                "label": "394 Hz",
                "value": 15,
                "type": "num"
            },
            {
                "label": "420 Hz",
                "value": 16,
                "type": "num"
            },
            {
                "label": "446 Hz",
                "value": 17,
                "type": "num"
            },
            {
                "label": "472 Hz",
                "value": 18,
                "type": "num"
            },
            {
                "label": "499 Hz",
                "value": 19,
                "type": "num"
            },
            {
                "label": "525 Hz",
                "value": 20,
                "type": "num"
            },
            {
                "label": "551 Hz",
                "value": 21,
                "type": "num"
            },
            {
                "label": "577 Hz",
                "value": 22,
                "type": "num"
            },
            {
                "label": "604 Hz",
                "value": 23,
                "type": "num"
            },
            {
                "label": "630 Hz",
                "value": 24,
                "type": "num"
            },
            {
                "label": "656 Hz",
                "value": 25,
                "type": "num"
            },
            {
                "label": "682 Hz",
                "value": 26,
                "type": "num"
            },
            {
                "label": "709 Hz",
                "value": 27,
                "type": "num"
            },
            {
                "label": "735 Hz",
                "value": 28,
                "type": "num"
            },
            {
                "label": "761 Hz",
                "value": 29,
                "type": "num"
            },
            {
                "label": "787 Hz",
                "value": 30,
                "type": "num"
            },
            {
                "label": "814 Hz",
                "value": 31,
                "type": "num"
            },
            {
                "label": "840 Hz",
                "value": 32,
                "type": "num"
            },
            {
                "label": "866 Hz",
                "value": 33,
                "type": "num"
            },
            {
                "label": "892 Hz",
                "value": 34,
                "type": "num"
            },
            {
                "label": "919 Hz",
                "value": 35,
                "type": "num"
            },
            {
                "label": "945 Hz",
                "value": 36,
                "type": "num"
            },
            {
                "label": "971 Hz",
                "value": 37,
                "type": "num"
            },
            {
                "label": "997 Hz",
                "value": 38,
                "type": "num"
            },
            {
                "label": "1024 Hz",
                "value": 39,
                "type": "num"
            },
            {
                "label": "1050 Hz",
                "value": 40,
                "type": "num"
            },
            {
                "label": "1076 Hz",
                "value": 41,
                "type": "num"
            },
            {
                "label": "1102 Hz",
                "value": 42,
                "type": "num"
            },
            {
                "label": "1129 Hz",
                "value": 43,
                "type": "num"
            },
            {
                "label": "1155 Hz",
                "value": 44,
                "type": "num"
            },
            {
                "label": "1181 Hz",
                "value": 45,
                "type": "num"
            },
            {
                "label": "1207 Hz",
                "value": 46,
                "type": "num"
            },
            {
                "label": "1234 Hz",
                "value": 47,
                "type": "num"
            },
            {
                "label": "1260 Hz",
                "value": 48,
                "type": "num"
            },
            {
                "label": "1286 Hz",
                "value": 49,
                "type": "num"
            },
            {
                "label": "1312 Hz",
                "value": 50,
                "type": "num"
            },
            {
                "label": "1339 Hz",
                "value": 51,
                "type": "num"
            },
            {
                "label": "1365 Hz",
                "value": 52,
                "type": "num"
            },
            {
                "label": "1391 Hz",
                "value": 53,
                "type": "num"
            },
            {
                "label": "1417 Hz",
                "value": 54,
                "type": "num"
            },
            {
                "label": "1443 Hz",
                "value": 55,
                "type": "num"
            },
            {
                "label": "1470 Hz",
                "value": 56,
                "type": "num"
            },
            {
                "label": "1496 Hz",
                "value": 57,
                "type": "num"
            },
            {
                "label": "1522 Hz",
                "value": 58,
                "type": "num"
            },
            {
                "label": "1548 Hz",
                "value": 59,
                "type": "num"
            },
            {
                "label": "1575 Hz",
                "value": 60,
                "type": "num"
            },
            {
                "label": "1601 Hz",
                "value": 61,
                "type": "num"
            },
            {
                "label": "1627 Hz",
                "value": 62,
                "type": "num"
            },
            {
                "label": "1653 Hz",
                "value": 63,
                "type": "num"
            },
            {
                "label": "1680 Hz",
                "value": 64,
                "type": "num"
            },
            {
                "label": "1706 Hz",
                "value": 65,
                "type": "num"
            },
            {
                "label": "1732 Hz",
                "value": 66,
                "type": "num"
            },
            {
                "label": "1758 Hz",
                "value": 67,
                "type": "num"
            },
            {
                "label": "1785 Hz",
                "value": 68,
                "type": "num"
            },
            {
                "label": "1811 Hz",
                "value": 69,
                "type": "num"
            },
            {
                "label": "1837 Hz",
                "value": 70,
                "type": "num"
            },
            {
                "label": "1863 Hz",
                "value": 71,
                "type": "num"
            },
            {
                "label": "1890 Hz",
                "value": 72,
                "type": "num"
            },
            {
                "label": "1916 Hz",
                "value": 73,
                "type": "num"
            },
            {
                "label": "1942 Hz",
                "value": 74,
                "type": "num"
            },
            {
                "label": "1968 Hz",
                "value": 75,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 590,
        "y": 120,
        "wires": [
            [
                "65099735.e9bcb8"
            ]
        ]
    },
    {
        "id": "99070aa2.fe1e88",
        "type": "ui_slider",
        "z": "2f4ebacf.90b096",
        "name": "",
        "label": "振幅しきい値",
        "tooltip": "",
        "group": "ae355e10.2a0de",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "",
        "min": "-60",
        "max": "20",
        "step": "1",
        "x": 600,
        "y": 180,
        "wires": [
            [
                "f28dbd1a.46f33"
            ]
        ]
    },
    {
        "id": "9dab867d.3d8cf8",
        "type": "function",
        "z": "2f4ebacf.90b096",
        "name": "",
        "func": "const lower = {\n    \"payload\": msg.payload.lower_limit_index\n}\n\nconst upper = {\n    \"payload\": msg.payload.upper_limit_index\n}\n\nconst threshold = {\n    \"payload\": msg.payload.threshold\n}\nreturn [lower, upper, threshold];",
        "outputs": 3,
        "noerr": 0,
        "x": 410,
        "y": 100,
        "wires": [
            [
                "e5365e4b.1bb9"
            ],
            [
                "3ac1415b.4f7fce"
            ],
            [
                "99070aa2.fe1e88"
            ]
        ]
    },
    {
        "id": "9d4d9b34.24dd98",
        "type": "debug",
        "z": "2f4ebacf.90b096",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 270,
        "y": 160,
        "wires": []
    },
    {
        "id": "b873e171.7384f",
        "type": "comment",
        "z": "2f4ebacf.90b096",
        "name": "監視設定を更新する",
        "info": "",
        "x": 110,
        "y": 40,
        "wires": []
    },
    {
        "id": "c88041db.b3d21",
        "type": "http in",
        "z": "2f4ebacf.90b096",
        "name": "監視設定の同期",
        "url": "/cbm/settings",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "8b89fdf7.69402"
            ]
        ]
    },
    {
        "id": "8b89fdf7.69402",
        "type": "json",
        "z": "2f4ebacf.90b096",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 270,
        "y": 100,
        "wires": [
            [
                "9d4d9b34.24dd98",
                "9dab867d.3d8cf8"
            ]
        ]
    },
    {
        "id": "32c98ce4.4d5944",
        "type": "CANDY RED websocket in",
        "z": "2f4ebacf.90b096",
        "name": "FFT",
        "server": "c332f33.960411",
        "wholemsg": "false",
        "x": 90,
        "y": 360,
        "wires": [
            [
                "ae2f462f.30a7d8"
            ]
        ]
    },
    {
        "id": "ae2f462f.30a7d8",
        "type": "ui_chart",
        "z": "2f4ebacf.90b096",
        "name": "",
        "group": "3276b80a.f2e298",
        "order": 0,
        "width": "6",
        "height": "8",
        "label": "FFT",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 320,
        "y": 360,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "79b873cb.44363c",
        "type": "CANDY RED websocket in",
        "z": "2f4ebacf.90b096",
        "name": "Peak",
        "server": "ebcbedab.30ff8",
        "wholemsg": "false",
        "x": 90,
        "y": 440,
        "wires": [
            [
                "a3b800e8.bb05b"
            ]
        ]
    },
    {
        "id": "a3b800e8.bb05b",
        "type": "function",
        "z": "2f4ebacf.90b096",
        "name": "Round up",
        "func": "const freq = {\n    payload: Math.round(msg.payload.peaks[0].frequency * 1000) / 1000 * 1000\n}\n\nconst amp = {\n    payload: Math.round(msg.payload.peaks[0].amplitude * 1000) / 1000\n}\n\nreturn [freq, amp];",
        "outputs": 2,
        "noerr": 0,
        "x": 260,
        "y": 440,
        "wires": [
            [
                "52a53511.f7b0fc"
            ],
            [
                "93bcc6c5.af5a78"
            ]
        ]
    },
    {
        "id": "52a53511.f7b0fc",
        "type": "ui_gauge",
        "z": "2f4ebacf.90b096",
        "name": "",
        "group": "828a5cb6.ec418",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "ピーク周波数",
        "label": "Hz",
        "format": "{{value}}",
        "min": 0,
        "max": "2000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 460,
        "y": 420,
        "wires": []
    },
    {
        "id": "93bcc6c5.af5a78",
        "type": "ui_gauge",
        "z": "2f4ebacf.90b096",
        "name": "",
        "group": "828a5cb6.ec418",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "ピーク振幅",
        "label": "dB",
        "format": "{{value}}",
        "min": "-120",
        "max": "0",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 450,
        "y": 480,
        "wires": []
    },
    {
        "id": "c82bb412.9c2318",
        "type": "CANDY RED websocket in",
        "z": "2f4ebacf.90b096",
        "name": "Status",
        "server": "e998e901.c94048",
        "wholemsg": "false",
        "x": 90,
        "y": 580,
        "wires": [
            [
                "3682066e.a48ffa",
                "e3371716.b12ee8"
            ]
        ]
    },
    {
        "id": "39bd8ec5.1be642",
        "type": "function",
        "z": "2f4ebacf.90b096",
        "name": "稼働ステータスを表示文字列に変換",
        "func": "let status_msg = 'Unkown';\n\nif (msg.payload.status === \"STOPPED\") {\n    status_msg = '<font color=\"gray\"><i class=\"fa fa-pause-circle fa-2x\"> 停止中</i></font>';\n} else if (msg.payload.status === \"RUNNING\") {\n    status_msg = '<font color=\"green\"><i class=\"fa fa-thumbs-o-up fa-2x\"> 正常稼働中</i></font>';\n} else if (msg.payload.status === \"UNKNOWN\") {\n    status_msg = '<font color=\"gray\"><i class=\"fa fa-question-circle-o fa-2x\"> 不明</i></font>';\n} else {\n    status_msg = '<font color=\"red\"><i class=\"fa fa-exclamation-triangle fa-2x\"> 異常発生中</i></font>';\n}\n\nmsg.payload = status_msg;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 550,
        "y": 680,
        "wires": [
            [
                "39d20191.4eb4fe"
            ]
        ]
    },
    {
        "id": "39d20191.4eb4fe",
        "type": "ui_text",
        "z": "2f4ebacf.90b096",
        "group": "d1fd1576.0d2dc8",
        "order": 1,
        "width": "5",
        "height": "2",
        "name": "",
        "label": "稼働ステータス",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 820,
        "y": 680,
        "wires": []
    },
    {
        "id": "3682066e.a48ffa",
        "type": "debug",
        "z": "2f4ebacf.90b096",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 130,
        "y": 660,
        "wires": []
    },
    {
        "id": "1a321c2b.aa06c4",
        "type": "ui_chart",
        "z": "2f4ebacf.90b096",
        "name": "",
        "group": "d1fd1576.0d2dc8",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "稼働ステータス履歴",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "-1",
        "ymax": "3",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 840,
        "y": 740,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "69239c8b.bdfd84",
        "type": "function",
        "z": "2f4ebacf.90b096",
        "name": "稼働ステータスを数値に変換",
        "func": "const status = msg.payload.status;\n\nswitch (status) {\n    case 'UNKNOWN':\n        msg.payload = -1;\n        break;\n    case 'STOPPED':\n        msg.payload = 0;\n        break;\n    case 'RUNNING':\n        msg.payload = 1;\n        break;\n    case 'ANOMALY':\n        msg.payload = 3;\n        break;\n    default:\n        msg.payload = -1;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 520,
        "y": 740,
        "wires": [
            [
                "1a321c2b.aa06c4"
            ]
        ]
    },
    {
        "id": "3cb64aa0.133106",
        "type": "moment",
        "z": "2f4ebacf.90b096",
        "name": "UTC から JST に変換",
        "topic": "",
        "input": "payload.timestamp",
        "inputType": "msg",
        "inTz": "ETC/GMT",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "LLL",
        "locale": "ja",
        "output": "payload.ts_label",
        "outputType": "msg",
        "outTz": "Asia/Tokyo",
        "x": 800,
        "y": 920,
        "wires": [
            [
                "1899d432.4adeec"
            ]
        ]
    },
    {
        "id": "3c9e22d2.db1dde",
        "type": "switch",
        "z": "2f4ebacf.90b096",
        "name": "稼働ステータスで分岐",
        "property": "payload.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "UNKNOWN",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "STOPPED",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "RUNNING",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "ANOMALY",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 500,
        "y": 820,
        "wires": [
            [],
            [],
            [],
            [
                "3784c97.df45b36"
            ]
        ]
    },
    {
        "id": "1899d432.4adeec",
        "type": "function",
        "z": "2f4ebacf.90b096",
        "name": "メール件名追加",
        "func": "msg.topic = '【障害発生】障害を検知しました';\nmsg.to = flow.get('mailto');\n\nif (msg.to === undefined || msg.to.length === 0) {\n    return null;\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1040,
        "y": 920,
        "wires": [
            [
                "f21bc5ac.4626c8"
            ]
        ]
    },
    {
        "id": "f21bc5ac.4626c8",
        "type": "template",
        "z": "2f4ebacf.90b096",
        "name": "メール本文作成",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "！！障害が発生しました！！\n\n発生時刻： {{payload.ts_label}}\n周波数帯： {{payload.config.lower_limit}} Hz ～ {{payload.config.upper_limit}} Hz\nしきい値： {{payload.config.threshold}} dB\n現在の値： {{payload.anomaly.frequency}} Hz / {{payload.anomaly.amplitude}} dB",
        "output": "str",
        "x": 1240,
        "y": 920,
        "wires": [
            [
                "4b197943.eb21c8",
                "ab3e20b0.1f5d8"
            ]
        ]
    },
    {
        "id": "4b197943.eb21c8",
        "type": "e-mail",
        "z": "2f4ebacf.90b096",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "name": "",
        "dname": "メール送信",
        "x": 1470,
        "y": 920,
        "wires": []
    },
    {
        "id": "f0ce2c93.a8cba",
        "type": "function",
        "z": "2f4ebacf.90b096",
        "name": "異常発生回数をカウント",
        "func": "let count = flow.get('trouble-count') || 0;\ncount += 1;\nflow.set('trouble-count', count);\nmsg.payload = count;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 1000,
        "wires": [
            [
                "a8848ffd.1d60f"
            ]
        ]
    },
    {
        "id": "341bdd20.658e52",
        "type": "comment",
        "z": "2f4ebacf.90b096",
        "name": "FFTとピークを表示",
        "info": "",
        "x": 110,
        "y": 300,
        "wires": []
    },
    {
        "id": "62fd8b4c.ed33b4",
        "type": "comment",
        "z": "2f4ebacf.90b096",
        "name": "稼働ステータス",
        "info": "",
        "x": 100,
        "y": 540,
        "wires": []
    },
    {
        "id": "a8848ffd.1d60f",
        "type": "ui_text",
        "z": "2f4ebacf.90b096",
        "group": "d1fd1576.0d2dc8",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "累積異常発生回数",
        "format": "{{msg.payload}} 回",
        "layout": "row-spread",
        "x": 1050,
        "y": 1020,
        "wires": []
    },
    {
        "id": "17baf3bc.6f693c",
        "type": "ui_button",
        "z": "2f4ebacf.90b096",
        "name": "",
        "group": "d1fd1576.0d2dc8",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "リセット",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "0",
        "payloadType": "str",
        "topic": "",
        "x": 520,
        "y": 1080,
        "wires": [
            [
                "77911412.7cd9bc"
            ]
        ]
    },
    {
        "id": "77911412.7cd9bc",
        "type": "change",
        "z": "2f4ebacf.90b096",
        "name": "異常発生回数を初期化",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "trouble-count",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 1080,
        "wires": [
            [
                "a8848ffd.1d60f"
            ]
        ]
    },
    {
        "id": "1fec043f.ba9aec",
        "type": "inject",
        "z": "2f4ebacf.90b096",
        "name": "初期化",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 350,
        "y": 1080,
        "wires": [
            [
                "17baf3bc.6f693c"
            ]
        ]
    },
    {
        "id": "e3371716.b12ee8",
        "type": "change",
        "z": "2f4ebacf.90b096",
        "name": "現在のステータスを更新",
        "rules": [
            {
                "t": "set",
                "p": "last-status",
                "pt": "flow",
                "to": "payload.status",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 580,
        "wires": [
            [
                "39bd8ec5.1be642",
                "69239c8b.bdfd84",
                "3c9e22d2.db1dde"
            ]
        ]
    },
    {
        "id": "ab3e20b0.1f5d8",
        "type": "debug",
        "z": "2f4ebacf.90b096",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1310,
        "y": 980,
        "wires": []
    },
    {
        "id": "3784c97.df45b36",
        "type": "function",
        "z": "2f4ebacf.90b096",
        "name": "異常発生か？",
        "func": "if (!('anomaly' in msg.payload)) {\n    return null;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 540,
        "y": 920,
        "wires": [
            [
                "3cb64aa0.133106",
                "f0ce2c93.a8cba"
            ]
        ]
    },
    {
        "id": "5898e5e2.65230c",
        "type": "comment",
        "z": "2f4ebacf.90b096",
        "name": "稼働ステータスを表示",
        "info": "",
        "x": 480,
        "y": 640,
        "wires": []
    },
    {
        "id": "175ebe9a.651551",
        "type": "comment",
        "z": "2f4ebacf.90b096",
        "name": "異常発生時の処理",
        "info": "",
        "x": 530,
        "y": 880,
        "wires": []
    },
    {
        "id": "d5c82b34.46e728",
        "type": "ui_text_input",
        "z": "2f4ebacf.90b096",
        "name": "",
        "label": "メール送信先",
        "tooltip": "",
        "group": "ae355e10.2a0de",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "email",
        "delay": 300,
        "topic": "",
        "x": 160,
        "y": 1260,
        "wires": [
            [
                "a44da8ce.126a88"
            ]
        ]
    },
    {
        "id": "a44da8ce.126a88",
        "type": "change",
        "z": "2f4ebacf.90b096",
        "name": "メール送信先設定",
        "rules": [
            {
                "t": "set",
                "p": "mailto",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "e2874126.236d2",
        "type": "comment",
        "z": "2f4ebacf.90b096",
        "name": "メール送信先設定",
        "info": "",
        "x": 130,
        "y": 1200,
        "wires": []
    },
    {
        "id": "d4362926.2590f8",
        "type": "inject",
        "z": "2f4ebacf.90b096",
        "name": "",
        "topic": "",
        "payload": "mailto",
        "payloadType": "flow",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 220,
        "y": 1380,
        "wires": [
            [
                "93cb480.12516b8"
            ]
        ]
    },
    {
        "id": "93cb480.12516b8",
        "type": "debug",
        "z": "2f4ebacf.90b096",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 390,
        "y": 1380,
        "wires": []
    },
    {
        "id": "8feeb6a6.389c38",
        "type": "change",
        "z": "2f4ebacf.90b096",
        "name": "メール送信先削除",
        "rules": [
            {
                "t": "delete",
                "p": "mailto",
                "pt": "flow"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 1440,
        "wires": [
            [
                "d5c82b34.46e728"
            ]
        ]
    },
    {
        "id": "11213130.d5c03f",
        "type": "inject",
        "z": "2f4ebacf.90b096",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 220,
        "y": 1440,
        "wires": [
            [
                "8feeb6a6.389c38"
            ]
        ]
    },
    {
        "id": "2b43a16b.ed8f5e",
        "type": "comment",
        "z": "2f4ebacf.90b096",
        "name": "デバッグ用",
        "info": "",
        "x": 180,
        "y": 1320,
        "wires": []
    },
    {
        "id": "6626b0e7.3b7d4",
        "type": "inject",
        "z": "2f4ebacf.90b096",
        "name": "テストメール送信",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 1050,
        "y": 840,
        "wires": [
            [
                "1899d432.4adeec"
            ]
        ]
    },
    {
        "id": "ae355e10.2a0de",
        "type": "ui_group",
        "z": "",
        "name": "設定",
        "tab": "fcda6789.823588",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3b572028.b0a0d",
        "type": "CANDY RED websocket listener",
        "z": "",
        "path": "/cbm/settings",
        "ignoreRejectError": "false"
    },
    {
        "id": "c332f33.960411",
        "type": "CANDY RED websocket listener",
        "z": "",
        "path": "/cbm/fft",
        "ignoreRejectError": "false"
    },
    {
        "id": "3276b80a.f2e298",
        "type": "ui_group",
        "z": "",
        "name": "FFT",
        "tab": "fcda6789.823588",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ebcbedab.30ff8",
        "type": "CANDY RED websocket listener",
        "z": "",
        "path": "/cbm/peak",
        "ignoreRejectError": "false"
    },
    {
        "id": "828a5cb6.ec418",
        "type": "ui_group",
        "z": "",
        "name": "ピーク周波数・振幅",
        "tab": "fcda6789.823588",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e998e901.c94048",
        "type": "CANDY RED websocket listener",
        "z": "",
        "path": "/cbm/status",
        "ignoreRejectError": "false"
    },
    {
        "id": "d1fd1576.0d2dc8",
        "type": "ui_group",
        "z": "",
        "name": "稼働ステータス",
        "tab": "fcda6789.823588",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "fcda6789.823588",
        "type": "ui_tab",
        "z": "",
        "name": "CBMサンプル",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]